[Desktop Entry]
Name=Vortex Launcher
Exec=/opt/VortexInstaller/bin/vortex_launcher
Icon=/opt/VortexInstaller/bin/ressources/imgs/icon.png
Terminal=false
Type=Application
Categories=Utility;Development;
