<?xml version="1.0" encoding="UTF-8"?>
<policyconfig xmlns="http://www.freedesktop.org/standards/polkit-1/policyconfig" version="0.1">
  <action id="com.example.vxinstaller">
    <description>Allows Vortex Installer to perform privileged operations</description>
    <message>Authentication is required to install Vortex</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
